<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Robust page</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/Styles/Styles-index.css">
  <script src="https://kit.fontawesome.com/82bb699038.js" crossorigin="anonymous"></script>
</head>

<body>

  <header>
    <nav class="navbar navbar-expand-lg bg-primary navbar-dark py-4">
      <div class="container">
        <a class="navbar-brand" href="/index.html">Robust.</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/index.html">Overview</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Pages</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="/Pages/landing.html">Landing</a>
                <a class="dropdown-item" href="/Pages/dashboard.html">DashBoard</a>
                <a class="dropdown-item" href="/Pages/general.html">General</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Components</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="/Components/bootstrap.html">Bootstrap</a>
                <a class="dropdown-item" href="/Components/robust.html">Robust</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Docs</a>
            </li>
          </ul>
          <a class="btn btn-outline-light" href="#">Purchase Now</a>
        </div>
      </div>
    </nav>
  </header>

  <main>
    <section>
      <div class="container-fluid bg-primary text-white py-5">
        <div class="container">
          <h1>Bootstrap components</h1>
          <p class="lead">Default components & utilities.</p>
        </div>
      </div>
    </section>
    <section>
      <div class="py-5 bg-white">
        <div class="container">
          <div class="row">
            <div class="col-md-9">
              <h2>Shadow</h2>
              <p>Robust's shadows provide a flexible way to add shadow to a content container or image.</p>
              <p>The following sizes are available: <code>.shadow-sm</code>, <code>.shadow-md</code> and
                <code>.shadow-lg</code>
              </p>
              <div class="card">
                <div class="card-body">
                  <h5>Default</h5>
                  <div class="row">
                    <div class="col-md-4">
                      <img class="shadow-sm rounded" src="/Images/image-index/7.jpg" alt="" width="100%" height="
                      auto">
                    </div>
                    <div class="col-md-4">
                      <img class="shadow rounded" src="/Images/image-index/7.jpg" alt="" width="100%" height="
                      auto">
                    </div>
                    <div class="col-md-4">
                      <img class="shadow-lg rounded" src="/Images/image-index/7.jpg" alt="" width="100%" height="
                      auto">
                    </div>
                  </div>
                </div>
                <div class="card-body">
                  <h5>Anchor</h5>
                  <div class="row">
                    <div class="col-md-4">
                      <img class="shadow-sm rounded" src="/Images/image-index/7.jpg" alt="" width="100%" height="
                      auto">
                    </div>
                    <div class="col-md-4">
                      <img class="shadow rounded" src="/Images/image-index/7.jpg" alt="" width="100%" height="
                      auto">
                    </div>
                    <div class="col-md-4">
                      <img class="shadow-lg rounded" src="/Images/image-index/7.jpg" alt="" width="100%" height="
                      auto">
                    </div>
                  </div>
                </div>
              </div>
              <hr>
              <div>
                <h2>Font Awesome</h2>
                <p>Get vector icons and social logos on your website with Font Awesome, the web’s most
                  popular icon set and toolkit.</p>
                <div class="card mb-3">
                  <div class="card-body">
                    <h5 class="card-title">Solid</h5>
                    <i class="mx-2 fa fa-2x fa-comments"></i>
                    <i class="mx-2 fa fa-2x fa-bell"></i>
                    <i class="mx-2 fa fa-2x fa-smile"></i>
                    <i class="mx-2 fa fa-2x fa-heart"></i>
                    <i class="mx-2 fa fa-2x fa-edit"></i>
                    <i class="mx-2 fa fa-2x fa-envelope"></i>
                    <i class="mx-2 fa fa-2x fa-hand-peace"></i>
                    <i class="mx-2 fa fa-2x fa-trash-alt"></i>
                    <i class="mx-2 fa fa-2x fa-star"></i>
                    <i class="mx-2 fa fa-2x fa-save"></i>
                    <i class="mx-2 fa fa-2x fa-lightbulb"></i>
                    <i class="mx-2 fa fa-2x fa-thumbs-up"></i>
                    <i class="mx-2 fa fa-2x fa-user"></i>
                    <i class="mx-2 fa fa-2x fa-folder-open"></i>
                    <i class="mx-2 fa fa-2x fa-paper-plane"></i>
                  </div>
                </div>

                <div class="card mb-3">
                  <div class="card-body">
                    <h5 class="card-title">Regular</h5>
                    <i class="mx-2 far fa-2x fa-comments"></i>
                    <i class="mx-2 far fa-2x fa-bell"></i>
                    <i class="mx-2 far fa-2x fa-smile"></i>
                    <i class="mx-2 far fa-2x fa-heart"></i>
                    <i class="mx-2 far fa-2x fa-edit"></i>
                    <i class="mx-2 far fa-2x fa-envelope"></i>
                    <i class="mx-2 far fa-2x fa-hand-peace"></i>
                    <i class="mx-2 far fa-2x fa-trash-alt"></i>
                    <i class="mx-2 far fa-2x fa-star"></i>
                    <i class="mx-2 far fa-2x fa-save"></i>
                    <i class="mx-2 far fa-2x fa-lightbulb"></i>
                    <i class="mx-2 far fa-2x fa-thumbs-up"></i>
                    <i class="mx-2 far fa-2x fa-user"></i>
                    <i class="mx-2 far fa-2x fa-folder-open"></i>
                    <i class="mx-2 far fa-2x fa-paper-plane"></i>
                  </div>
                </div>
                <div class="card mb-3">
                  <div class="card-body">
                    <h5 class="card-title">Brands</h5>
                    <i class="mx-2 fab fa-2x fa-amazon"></i>
                    <i class="mx-2 fab fa-2x fa-apple"></i>
                    <i class="mx-2 fab fa-2x fa-google"></i>
                    <i class="mx-2 fab fa-2x fa-facebook"></i>
                    <i class="mx-2 fab fa-2x fa-twitter"></i>
                    <i class="mx-2 fab fa-2x fa-dropbox"></i>
                    <i class="mx-2 fab fa-2x fa-github"></i>
                    <i class="mx-2 fab fa-2x fa-microsoft"></i>
                    <i class="mx-2 fab fa-2x fa-paypal"></i>
                    <i class="mx-2 fab fa-2x fa-snapchat"></i>
                    <i class="mx-2 fab fa-2x fa-stripe"></i>
                    <i class="mx-2 fab fa-2x fa-tumblr"></i>
                    <i class="mx-2 fab fa-2x fa-slack"></i>
                    <i class="mx-2 fab fa-2x fa-imdb"></i>
                    <i class="mx-2 fab fa-2x fa-spotify"></i>
                    <i class="mx-2 fab fa-2x fa-hacker-news"></i>
                  </div>
                </div>
                <a href="#">See all documentation</a>
              </div>
            </div>
            <div class="col-md-3">
              <dl class="sticky-top nav-sidebar overflow-auto">
                <dt><a href="#">Flickity</a></dt>
                <dt><a href="#">Shadows</a></dt>
                <dt><a href="#">FornAwesome</a></dt>
                <dt><a href="#">Timeago.js</a></dt>
                <dt><a href="#">Medium-Zoom</a></dt>
                <dt><a href="#">Social Buttons</a></dt>
                <dt><a href="#"><small>Back to top</small></a></dt>
              </dl>
            </div>
          </div>
        </div>
    </section>
    <section class="jumbotron jumbotron-fluid">
      <div class="container">
        <div class="row">
          <div class="col-md-10 mx-auto">
            <div class="row">
              <div class="col-md-4 ml-auto">
                <h2>Integrates with all your favorite tools</h2>
              </div>
              <div class="col-md-6 mr-auto">
                <p class="lead">Robust uses industry standard build tools and plugins such as Sass, jQuery, Webpack,
                  Babel and npm. All
                  source files and compiled files are included inside the package.</p>
              </div>
            </div>
            <div class="row my-4 align-items-center">
              <div class="col">
                <img src="/Images/image-index/sass.svg" alt="Sass" width="100%" height="auto">
              </div>
              <div class="col">
                <img src="/Images/image-index/bootstrap.svg" alt="Bootstrap" width="100%" height="auto">
              </div>
              <div class="col">
                <img src="/Images/image-index/jquery.svg" alt="Jquery" width="100%" height="auto">
              </div>
              <div class="col">
                <img src="/Images/image-index/webpack.svg" alt="" width="100%" height="auto">
              </div>
              <div class="col">
                <img src="/Images/image-index/babel.svg" alt="" width="100%" height="auto">
              </div>
              <div class="col">
                <img src="/Images/image-index/npm.svg" alt="" width="100%" height="auto">
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>

  <footer class="bg-white py-6">
    <div class="container">
      <div class="row">
        <div class="col-md-2">
          <h3>Robust.</h3>
        </div>
        <div class="col-md-10">
          <div class="row">
            <div class="col-lg-3 col-md-6">
              <h5>Address</h5>
              <ul class="list-unstyled">
                <li>City Hall</li>
                <li>212 Street</li>
                <li>Lawoma</li>
                <li>735</li>
              </ul>
            </div>
            <div class="col-lg-3 col-md-6">
              <h5>Popular Services</h5>
              <ul class="list-unstyled">
                <li>
                  <a href="#">Payment Center</a>
                </li>
                <li>
                  <a href="#">Contact Directory</a>
                </li>
                <li>
                  <a href="#">Forms</a>
                </li>
                <li>
                  <a href="#">News and updates</a>
                </li>
                <li>
                  <a href="#">FAQs</a>
                </li>
              </ul>
            </div>
            <div class="col-lg-3 col-md-6">
              <h5>Website Information</h5>
              <ul class="list-unstyled">
                <li>
                  <a href="#">Website Tutorial</a>
                </li>
                <li>
                  <a href="#">Accessibility</a>
                </li>
                <li>
                  <a href="#">Disclaimer</a>
                </li>
                <li>
                  <a href="#">Privacy Policy</a>
                </li>
                <li>
                  <a href="#">FAQs</a>
                </li>
                <li>
                  <a href="#">Webmaster</a>
                </li>
              </ul>
            </div>
            <div class="col-lg-3 col-md-6">
              <h5>Company</h5>
              <ul class="list-unstyled">
                <li>
                  <a href="#">Our team</a>
                </li>
                <li>
                  <a href="#">About</a>
                </li>
                <li>
                  <a href="#">Contact</a>
                </li>
                <li>
                  <a href="#">Purchase</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="text-center">
        <small>© 2018 - <a href="#">Robust UI Kit</a>.</small>
      </div>
    </div>
  </footer>
</body>

</html>