* {
  box-sizing: border-box;
}

.navbar {
  font-weight: 600;
  font-size: 18px;
}

.py-6 {
  padding-top: 4.5rem;
  padding-bottom: 4.5rem;
}

.py-7 {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.mb-6 {
  margin-bottom: 4.5rem;
}

.media {
  display: flex;
}

.icon {
  padding: 0.666rem;
  border-radius: 0.35rem;
  text-align: center;
  color: white;
  font-size: 2rem;
  line-height: 1;
}

footer {
  line-height: 2;
}

a {
  color: #343a40;
  text-decoration: none;
}


.position-relative {
  position: relative;
}

.position-absoluted {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
}

.center {
  position: absolute;
  top: 50%;
  width: 100%;
  left: o;
  right: 0;
  text-align: center;
}

.img-background {
  opacity: 0.7;
}

dt, dd {
  padding: 8px 16px;
  margin: 0;
}